@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');
:root{
  --primary-color: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);;
}
*{
  font-family: 'Red Rose';
}
body{
  box-sizing: border-box;
  padding:0;
  margin: 0;
  font-size: 16px;
  font-family: 'Red Rose';
}
a{
  color: black;
  text-decoration: none;
}
.blur{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.397);
}
ul{
  list-style-type: none;
  padding: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
}
nav img{
 width: 170px;
}
.nav-items{
  display: flex;
  justify-content: space-evenly;
  gap:1.5em;
  justify-content: center;
  align-items: center;
}
.nav-button{
  border-radius: 8px;
  border: none;
  background: var(--primary-color);
  color: white;
  padding: 0.85rem 1.8rem;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
.hero{
  display: flex;
  align-items: center;
  margin: 2rem 5rem;
  gap: 4rem;
}
.hero-text-section{
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero-image{
  flex: 0.8;
  padding: 1rem;
}
.hero img{
  width: 100%;
}
.hero-maintext{
  font-size: 56px;

}
.hero-textblack{
  color: rgba(67, 67, 67, 1);
}
.hero-textpurple{
  font-weight: 700;
  background-color: purple;

  /* Create the gradient. */
  background-image: var(--primary-color);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.hero-smalltext{
 font-size: 24px;
 font-weight: 400;
 line-height: 1.5;
}
.hero-search{
  display: flex;
  
}
.hero-search input{
  width: 55%;
  height: 35px;
  padding: 0.5rem 1rem;
  border-radius: 8px 0 0 8px;
  border: 1px  #A3A3A3 solid;
  outline: none;
  font-size: 1rem;
  font-family: 'Red Rose';
}
.hero-search button{
  border-radius:0 8px 8px 0;
  background: var(--primary-color);
  border: none;
  color: white;
  margin-left: -2px;
  width: 30%;
  font-size: 1rem;
  font-family: 'Red Rose';
}
.sponsors{
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem 7rem;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 0.5rem;
}
.cards{
  display: flex;
  flex-wrap: wrap;
  row-gap: 1.5rem;
  margin: 2rem 5rem;
  justify-content: space-between;
  align-items: center;
}
.card-cont{
  border: 1px solid #A3A3A3;
  border-radius: 8px;
  padding: 1rem;
  font-size: 0.7rem;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cards-toptext{
  font-size: 48px;
  margin: 3.5rem auto 3rem auto;
  text-align: center;
  font-weight: 700;
}
.stars{
  width: 35%;
}
.card img{
  width: 100%;

}
.nft{
  display: flex;
  background: var(--primary-color);
  align-items: center;
  padding: 4.75rem 5rem;

  color: white;
  gap: 6.5rem;
}
.nft-button{
  padding: 0.65rem 1.2rem;
  color: #A02279;
  border-radius: 8px;
  border: none;
}
.nft-text{
  flex: 0.7;
  gap: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.nft-image{
  flex: 1.2;
}
.nft-image img{
  width: 100%;
}
.nft-maintext{
  font-size: 48px;
}
.nft-smalltext{
  font-size: 18px;
  line-height: 1.8;
}

footer{
  background: rgba(29, 29, 30, 1);
  color: white;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem;
  gap: 3.5rem;
  flex-wrap: wrap;
}
footer div{
  text-align: left;
  min-width: 10rem;
  gap: 1rem;
}
footer ul{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  font-size: 18px;
}
footer span{
  font-size: 1.2rem;
}
footer li{
  font-size: 14px;
  color:  rgba(241, 243, 249, 1);

}
.wallet{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 40%;
  background-color: white;
  border-radius: 8px;
  z-index: 99;
}
.wallet-head{
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #CFD8DC;
  font-weight: 700;
  font-size: 1.2rem;
}
.wallet-body{
  margin: 1.5rem 2rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}
.wallet-body div{
  display: flex;
  align-items: center;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  padding: 0.2rem;
  padding: 0.5rem 1rem;
  gap: 1rem;
  font-weight: 700;
  
}
.card-textone,.card-texttwo{
  display: flex;
  justify-content: space-between;
  gap: 0.15rem;
}
.available{
  text-align: right;
}
.mbt{
  font-weight: 700;
}
.arrow{
  margin-left: auto;
}
.menu{
  display: none;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 36px;
}
.sidebar li:hover,nav li:hover{
  cursor: pointer;
  background-color: purple;

  /* Create the gradient. */
  background-image: var(--primary-color);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.close{
  position: absolute;
  right: 20px;
  top: 20px;
}
.footer-logo{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3rem;
}
.socials{
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}
.location{
  display: flex;
  margin: 3rem 5rem 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.locations{
  width: 100%;
  overflow-x: scroll;
}
.locations::-webkit-scrollbar{
  display: none;
}
.location-items{
  width: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-input{
  border: 1px solid 
  rgba(180, 180, 180, 1);
  display: flex;
  border-radius: 8px;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin-right: 2rem;
}







@media (max-width:960px) {
  .location-input{
    margin-right: 0;
  }

  .nav-items{
    display: none;
  }
  .location{

  }
  .hero{
    flex-direction: column;
    align-items: center;
  }
  .sponsors{
    justify-content: space-around;
  }
  .card-cont{
    width: 40%;
  }
  .cards-toptext{
    padding: 0 10px;
  }
  .nft{
    flex-direction: column;
  }
  .hero input{
    width: 100%;
   }
   .menu{
    display: block;
      width: 25px;
   }
   .menu img{
    width: 100%;
   }
   .wallet{
    width: unset;
   }
   .wallet{
    width: 50%;
   }
}
@media (max-width:550px) {
.hero,.cards{
    margin: 1rem 2rem;
  }
  .nft{
    padding: 3.5rem 2rem;
    gap: 1rem;
  }
  .hero{
    text-align: center;
  }
  nav{
    padding: 1.5rem 1rem;
  }
  .cards{
    flex-direction: column;
    margin: 1rem 1rem;
    align-items: center;
  }
  .card-cont{
    width: 80%;
  }
  nav img{
    width: 35%;
   }
   footer{
    padding: 1rem;
   }
   .wallet{
    width: unset;
   }
   .location{
    margin: 3rem 2.5rem 2rem;
  }
}